@charset "UTF-8";
#side_menu{
    grid-column-start: 1;
    grid-column-end: 2;
}
#content{
    grid-column-start: 2;
    grid-column-end: 5;
}

#item_2{
    grid-column-start: 2;
    grid-column-end: 5;
}
#item_4{
    grid-column-start: 2;
    grid-column-end: 5;
}

#item_11{
    grid-column-start: 1;
    grid-column-end: 3;
}
#item_12{
    grid-column-start: 3;
    grid-column-end: 5;
}

#form input[type=text], select {
  width: 100%;
  padding: 6px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form input[type=submit]:hover {
  background-color: #45a049;
}
#form input[type=reset] {
  width: 100%;
  background-color: #af544c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#form input[type=reset]:hover {
  background-color: #af544c;
}
#form div {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}